@import url("./header.css");
@import url("./table.css");

.event-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
}

.confirm-button {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.confirm-button:hover {
  background-color: var(--secondary-color);
}

